.full-background
{
    background-image: url(./images/plant-back.jpg);
    background-repeat: no-repeat;  
    background-size: cover;  
    height: 100vh;
    overflow:auto;
}
.title-container
{
    background-color: white;
    color: black;
    margin-top: 15%;
    padding: 30px;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}