@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root{
    font-family: "SUSE";
    background-image: url(../images/plant_background_1.png);
    background-repeat:repeat;  
    background-size: cover;  
    height: 100%;

}
*{
    margin: 0;
    padding: 0;
}
.blogs-container, h1{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow:auto;
}

h1{
    font-size: 60px;
}

.blog-container{
  /* width:  calc(100% / 4);  */
  height: 200px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  border: 1px solid red;
  text-align: Left;
  margin: 2%;
  padding: 20px; 
  overflow: hidden;
  white-space: normal;
  inline-size: min-content;
  overflow-wrap: break-word;
  /* text-overflow: ellipsis;  */
  width: 40rem;
  /* overflow-y: scroll; */

}

.blog-title{
    font-size: x-large;
}
.blog-date{
    
}
.blog-body{
    margin-top: 15px;
}