@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

.subsections-container{
    /* text-align: center; */
    font-family: "SUSE";
}
.subsections-list-ul
{

      /* Use flex boxes to align li items */
      display: flex;
      justify-content: space-around;
      /* Remove default padding from major browsers */
      margin: 0px auto;
      padding: 0;
      /* Hide the default decorations for li items */
      list-style: none;
}

.subsection-li
{
    display: inline-block;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    margin: 40px;
    border-radius: 20px;
    width: 200px;
}
.sub-links {
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    padding: 0.5 em 1 em;

  }
  
  .subsection-li:hover {
    background-color: #e9edc9;
    font-weight: bold;
    box-shadow: 0px 2px 2px lightgray;
    transition: ease background-color 250ms;
  }