
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;  */
}

.full-background
{
    background-image: url(./images/plant_background_1.png);
    background-repeat: no-repeat;  
    background-size: cover;  
    height: 100vh;
    overflow:auto;
    margin-top: -78px;
}

.title-container
{
    background-color: white;
    color: black;
    margin-top: 250px;
    padding: 30px;
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    font-family: "SUSE";
    font-variation-settings: 'opsz' 50;
    font-weight: 700;
    font-size: xx-large;
    font-style: italic;
}
